
Nashville Housing - Data Cleaning using SQL/Temp.sql
Covid 19 - Data Visualization using Tableau/Death-by-month.csv
Covid 19 - Data Visualization using Tableau/Global-Numbers.csv
Covid 19 - Data Visualization using Tableau/Region-number.csv
Covid 19 - Data Visualization using Tableau/Percent-population-Infected.csv
